* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(-45deg, #0f0c29, #302b63, #24243e);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    color: white;
}

@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #00f7ff;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 8%;
}

.hero h1 {
    font-size: 42px;
}

.hero span {
    color: #00f7ff;
}

.hero h3 {
    margin: 15px 0;
    font-weight: 400;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background: #00f7ff;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.image img {
    width: 260px;
    border-radius: 50%;
    border: 4px solid #00f7ff;
    box-shadow: 0 0 30px #00f7ff;
}

.section {
    padding: 80px 8%;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #00f7ff;
}

.glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
}

.skill {
    margin-bottom: 20px;
    text-align: left;
}

.bar {
    background: rgba(255,255,255,0.2);
    height: 10px;
    border-radius: 20px;
}

.fill {
    height: 10px;
    border-radius: 20px;
}

.python { width: 90%; background: #00f7ff; }
.django { width: 85%; background: #ff00ff; }
.html { width: 80%; background: #00ff88; }

.cards {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: rgba(255,255,255,0.08);
    padding: 25px;
    border-radius: 15px;
    width: 300px;
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #00f7ff;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.3);
}

@media(max-width: 768px){
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .image {
        margin-top: 30px;
    }
}